<div class="events">
  <div class="container">
    <div class="team-heading">
      <h3><%= t "suggest_product" %></h3>
    </div>
    <div class="w3l-event-grids">
      <div class="col-md-4 col-md-offset-4">
        <%= render "form_suggest" %>
      </div>
    </div>
  </div>
</div>
