<div class="events">
  <div class="container">
    <div class="team-heading">
      <h3><%= t ".top_product" %></h3>
    </div>
    <div class="w3l-event-grids">
      <%= render "product" %>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
