<div class="container">
  <div class="slider">
    <div class="callbacks_container">
      <ul class="rslides" id="slider4">
        <li>
          <div class="banner-info"><%= link_to t("menu"), "#" %></div>
        </li>
      </ul>
    </div>
  </div>
</div>
